h2 {
    color: blue;
    background-color: yellow;
}

#tieude-1{
    background-color: rgb(228, 34, 34);
}
.tieude-2{
    background-color: rgb(67, 223, 67);
}

div.web4{
    background-color: pink;
}